$xs-max: 425px; // Set xs breakpoint's max width
$sm-max: 1024px; // Set sm breakpoint's max width
$md-max: 1440px; // Set md breakpoint's max width
$lg-max: 1920px; // Set lg breakpoint's max width

  
$gutter: 20px;
  
$content-well-max-width: "none";

@import "@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss";